.table-view {
    -fx-base: white;
    -fx-control-inner-background: white;
    -fx-background-color: white;
    -fx-padding: 1;
}

.table-view:focused{
    -fx-base: white;
    -fx-control-inner-background: white;
    -fx-background-color: -fx-focus-color;
}

.table-view .table-cell{
    -fx-padding: 1;
    -fx-text-fill: black;
}

.table-view .table-cell:focused {
    -fx-padding: 1;
    -fx-border-color:-fx-focus-color;
    -fx-text-fill: -fx-focus-color;
    -fx-background-color: white;
}

.table-view .table-cell:focused .text-field {
    -fx-text-fill: -fx-focus-color;
    -fx-background-color: white;
}


